body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-size: 64px;
    font-weight: 200;
    margin-bottom: 0;
}

h2 {
    font-size: 36px;
    font-weight: 100;
    margin-top: 0;
}

canvas {
    cursor: pointer;
}
